---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/componetCosmic/Hero.astro";
import TitleSection from "@/components/TitleSection.astro";

import { getDataBySlug, getProjects } from "../lib/cosmic";
import ExperienceSection from "@/components/componetCosmic/ExperienceSection.astro";
import ProjectsSection from "@/components/componetCosmic/ProjectsSection.astro";
import AboutSection from "@/components/componetCosmic/AboutSection.astro";

const data = await getDataBySlug("portfolio");
const projectsList = await getProjects();
const projects = data.metadata.projects;
const heroData = data.metadata.hero;
const experience = data.metadata.experience;
const aboutme = data.metadata.about_me;
---

<Layout
  title="Porfolio de David - Desarrollador y Programador Web"
  description="Contrata a midudev para crear tu aplicación web, móvil o de escritorio. Desarrollador Web y Gamer. Arquitectura y código limpio."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero hero={heroData} />
    </SectionContainer>
  </main>
  <div class="space-y-24">
    <ExperienceSection title={experience.title} experience={experience.list} />

    <ProjectsSection title={projects.title} list_projects={projectsList} />

    <AboutSection
      title={aboutme.title}
      content={aboutme.content}
      image={aboutme.image}
    />
  </div>
</Layout>
